@import "vars";/* сюда записываются переменные */
@import "libs";/* файл куда записываются библиотеки типа normalize итд */
@import "fonts";/* файл со шрифтами */
@import "global";

.header{
    
    .header__top-inner{
        
        .header__top-box{
            display: flex;
            justify-content: center;
            .header-title{
                max-width: 200px;
                padding: 30px 0 10px;
                font-size: 32px;
                font-weight: 400;
                
                .title__span{
                    color: #22AAEC;
                }
            }
            .header__media-box{
                position: absolute;
                right: 264px;
                top: 15px;
                .media__box-item{
                    display: flex;
                    justify-content: space-between;
                    width: 135px;
                    height: 20px;
                    .media__box-items{
                        list-style: none;
                        .media__box-link{
                            padding-right: 10px;
                            text-decoration: none;
                            .media__box-img{
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }
                }
            }
        }
       .header__top-navbar{
           display: block;
           margin: 0 auto;
           padding-top: 10px;
           margin-bottom: 14px;
           .header-top__navbar-item{
               display: flex;
               justify-content: center;
               .header-top__navbar-items{
                    width: 62px;
                    list-style: none;
                    margin-right: 35px;
                   .header-top__navbar-link{
                    font-size: 15px;
                    text-decoration: none;
                    list-style: none;
                    padding: 3px 25px 3px 25px;
                    color: #707070;
                    letter-spacing: 1.3px;
                    transition: all .5s;
                   }
                   .navbar-link__active{
                       background-color: #076E9F;
                       color: #ffffff;
                       width: 62px;
                       height: 10px;
                   }
                   .header-top__navbar-link:hover{
                    background-color: #076E9F;
                    color: #ffffff;
                    width: 62px;
                    height: 10px;
                   }  
               }
           }
       } 
    }
}

.header__content{
   background-size: cover; 
   background-repeat: no-repeat;
   background-position: center;
   min-height: 100vh; 
   text-align: center;
   border-bottom: 4px solid #22AAEC;
   .header__content-inner{
     .title__box{
         padding-top: 192px;
         .header__content-title{
             font-size: 80px;
             color: #076E9F;
             background-color: #FFFFFF;
             opacity: 0.8;
             max-width: 350px;
             display: block;
             margin: 0 auto;
             margin-bottom: 20px;
         }
         .header__content-description{
            font-size: 50px;
            color: #076E9F;
            background-color: #FFFFFF;
            opacity: 0.8;
            max-width: 1650px;
            display: block;
            margin: 0 auto;
            margin-bottom: 76px;
         }
     }  
   }
}

.citizen-item__box{
        display: flex;
        justify-content: center;
        background: rgba(19, 18, 18, 0.7);
        padding: 35px 70px 35px;
        margin-top: 450px;
    .citizen-items{
        display: flex;
        justify-content: center;
        margin-left: 150px;
        .citizen-items__logo{
            position: relative;
            img{
                width: 92px;
                height: 92px;
                position: absolute;
                z-index: 1;
                right: -65px;
                top: -4px;
            }
        }
    .citizen-items__descr-box{
        background-color: #FFFFFF;
        opacity: 0.8;
        display: inline-block;
        width: 220px;
        padding: 15px 0px 0px 45px;
       
       .descr-box__text{
        color: #515151;
        font-size: 14px;
        font-weight: 300;
        line-height: 14px;
        max-width: 150px;
        padding-left: 30px;
        text-align: left;
        margin-bottom: 5px;
        }
       .desc-box__name{
            color: #828282;
            font-size: 12px;
            font-weight: 300;
            max-width: 130px;
            padding-bottom: 5px;
        }    
      }    
    }
}

.media__content{
    position: relative;
    .media__content-about{
        padding: 28px 0 46px 270px;
        display: block;
        max-width: 650px;
        .about__title-box{
            text-align: left;
            @include block();
            border-bottom: 1px dotted #515151;
            .media-content__about-title{
              color: #076E9F;
              font-weight: 600;
              font-size: 24px;
              margin-bottom: 12.2px;
            }
            .media-content__about-text{
                max-width: 177px;
                font-size: 17px;
                line-height: 18px;
                margin-bottom: 15px;
                .text__name{
                    color: #076E9F;
                }
            }
        }
    }
}

.best__content-box{
    @include block();
    padding: 15px 0 26px;
    border-bottom: 1px dotted #515151;
    .best__content-title{
        color: #076E9F;
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 12.2px;       
    }
    .best__content-item{
        padding-top: 10.7px;
        .best__content-items{
            display: flex;
            margin-bottom: 12px;
            .best-content__items-logo{
                .best-content__items-img{
                   width: 70px;
                   height: 50px;
                }
            }
            .statistic__box{
                @include block();
                padding: 3px 0 4px 18.9px;
                .statistic__box-title{
                   font-size: 20px;
                   font-weight: 400;
                   color: #5C5C5C;
                   margin-bottom: 3px;
                   letter-spacing: 2.8;
                }
                .statistic__descr-box{
                    display: flex;
                    .statistic__descr-name{
                        font-size: 16px;
                        font-weight: 300;
                        color: #5C5C5C;
                        margin-bottom: 3px;
                        padding-left: 15px;
                        max-width: 100px;
                    }
                }
            }
        }
    }
}

.index__box{
    @include block();
    padding: 15px 0 0;
    border-bottom: 1px dotted #515151;
    .index__box-title{
        color: #076E9F;
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 6.7px;        
    }
   .table__box{
       padding: 7px 0 46px 0px;
      table{
        border-collapse: collapse;
        line-height: 14px;
        font-size: 10px;
        width: 260px;
        height: 150px;
        border-color: white;
        .first__stroke{
            background-color: #076E9F;
            color: white;
            font-size: 16px;
            letter-spacing: 2.2px;
        }
       th{
           color: #076E9F;
           font-size: 13px;
           font-weight: 200;
           background-color: #90D4F5;
       } 
       tr{
           &:hover{
            background-color: #90D4F5;
            opacity: 0.7;
         }
       }
     }
   }
}

.media__content-reason{
    position: absolute;
    left: 650px;
    transform: translateY(-106.3%);
    border: 1px dotted gray;
    @include block();
    width: 900px;
    border-top: 4px solid #22AAEC;
    background-color: white;
    .media-content__reason-title{
        color: #076E9F;
        font-weight: 600;
        font-size: 42px;
        padding: 25px 361px 0 3px;
        text-align: center;
        margin-bottom: 11px;
    }
    .media-content__reason-box{
        @include flexible;
        .logo__item-inner{
            @include flexible;
            max-width: 135px; 
            .logo__items{
                width: 60px;
                height: 60px;
                background-color: #22AAEC;
                border-radius: 50%;
                position: relative;
                margin-left: 10px;
                text-align: center;
                padding: 17px;
                letter-spacing: 5.5;
                .logo__items-text{
                    @include block();
                    max-width: 35px;
                    color: white;
                    font-size: 12px;
                    font-weight: 100px !important;
                    text-align: center;
                    letter-spacing: 0.1px;
                }
               .logo__items-background{
                  position: absolute;
                  transform: translateX(-49%);
                  bottom: 0;
                  opacity: 0.9;
               }
            }
        }
        .media-content__reason-text{
             display: inline-block;;
             width: 554px;
             padding-left: 30px;
             line-height: 22px;
             font-weight: 200px;
             font-size: 16px;
             color: #5C5C5C;
             font-family: league-gothic, sans-serif;/* надо фонты подключить */
             margin-bottom: 30px;
        }
    }
    .media-content__reason-likes{
         display: flex;
         justify-content: center;
         border-bottom: 1px dotted gray;
         padding-bottom: 25px;
        .media-content__reason-btn{
           @include block();
           width: 90px;
           height: 35px;
           padding: 5px 11px 5px;
           background-color: #076E9F;
           outline: none;
           border: none;
           cursor: pointer;
           color: white;
           letter-spacing: 0.1em;
           margin-right: 269px;
           position: relative;         
        }
        .like__box-inner{
            @include flexible;
            width: 180px;
            background-color: #90D4F5;
            padding: 8px;
            position: absolute;
            transform: translateX(205%);
            .like__box{
                @include flexible;
                .likes__num{
                    color: #076E9F;
                    font-size: 16px;
                    padding-left: 9.2px;
                    padding-right: 10px;
                }
                
            }
        }
    }
    .likes__box-decor{
        width: 0;
        height: 0;
        border-top: 10px solid #076E9F;
        border-right: 10px solid transparent;
        padding-top: 20px;
        position: absolute;
        display: block;
        right: -10px;
        top: 216px                        
    }
}    


.feedback{
    @include block();
    .feedback__inner{
         display: flex;
         justify-content: space-between;
         padding: 19px 10px 20px;
         .feedback__item
         {
           position: relative;@include block();
           width: 500px;
           height: 240px;
           background-color: #EAEAEA;
           border-top-left-radius: 30px;
           margin-left: 15px;
           .feedback__title{
             color: #076E9F;
             font-size: 22px;
             max-width: 250px;
             padding: 21px 0px 0.5em 20px;
             display: block;
             margin-bottom: -3px;
         }
         .feedback__date-descr{
             max-width: 190px;
             font-size: 16px;
             padding-left: 20px;
             margin-bottom: 15px;
             font-weight: 200;
         }
         .feedback__text{
            line-height: 22px;
            font-size: 14px;
            font-weight: 200;
            max-width: 350px;
            text-align: left;
            padding-left: 15px;
         }
         .more__link{
            .more__link-check{
              text-decoration: none;
              color: #1599CB;
              padding-left: 15px;
              cursor: pointer;
            }
         }
         .feedback__item-footer{
            background-color: #F4F3F3;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            padding: 4px 0 4px 0;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;            
            .statistics__num-box{
                display: flex;
                justify-content: flex-end;
                .num-box__logo{
                    padding-right: 10px;
                    .num-box__logo-img{
                       padding-right: 5px;
                    }
                }
                .num-box__vulue{
                    color: #076E9F;
                    padding-right: 15px;
                }
            }
         }   
         }
         .feedback__item:before, .feedback__item:after
         {
           z-index: -1;
           position: absolute;
           content: "";
           bottom: 15px;
           left: 10px;
           width: 50%;
           top: 80%;
           max-width:300px;
           background: #777;
           -webkit-box-shadow: 0 15px 10px #777;
           -moz-box-shadow: 0 15px 10px #777;
           box-shadow: 0 15px 10px #777;
           -webkit-transform: rotate(-3deg);
           -moz-transform: rotate(-3deg);
           -o-transform: rotate(-3deg);
           -ms-transform: rotate(-3deg);
           transform: rotate(-3deg);
         }
         .feedback__item:after
         {
           -webkit-transform: rotate(3deg);
           -moz-transform: rotate(3deg);
           -o-transform: rotate(3deg);
           -ms-transform: rotate(3deg);
           transform: rotate(3deg);
           right: 10px;
           left: auto;
         }
    }
    .feedback__ad
{
  position: relative;width: 860px;
  height: 173px;
  background-color: #F4F3F3;
  display: block;
  text-align: center;
  margin-left: 25px;
  margin-bottom: 35px;
  .feedback__ad-title{
    text-align: center;
    padding-top: 55px;
    font-size: 16px;
 }
}
.feedback__ad:before, .feedback__ad:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.feedback__ad:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
 }
}


.map{
    .map__inner{
        margin-left: 267px;
        .map__title{
            display: inline-block;
            color: #076E9F;
            font-size: 36px;
            max-width: 500px;
            padding: 15px 0 15px;
        }
        .frame__inner{
            
            overflow: hidden;
        }
    }
}

.footer{
    .footer__top-inner{
        
        .footer__top-box{
            display: flex;
            justify-content: space-between;
            .footer__top-title{
               padding: 15px 0 15px 267px;
               font-size: 24px;
            }
        }
        .footer__rights{
          display: block;
          padding: 50px 0 50px;
          width: 1530px;
          border-top: 1px dotted gray;
          text-align: center;
          margin-left: 270px;
          padding-right: 120px;
        }
    }
}


/* font-family: 'League Gothic', arial; */
/* font-family: league-gothic, sans-serif; */

@import "media";/* файл для медиа запросов */